# Stockbase required
version.json
fulldump.sql
hidden/images
hidden/ignore
hidden/images/stock
hidden/uploads
hidden/manualreviewlines.csv
assets/img/stock_b
assets/img/stock_copy
includes/recovery
assets/img/stock/stock-*
assets/img/config/custom/*
assets/sql/db_setup-*
assets/sql/sb_setup.sql.old
hidden/cavnusimport.php
hidden/dbh.inc.php
hidden/manualreviewlines.csv
hidden/downloads
hidden/canvusimport.php
includes/smtp_tester.log
public/img/stock/*

# Laravel Defaults:
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/coverage
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
