body {
    /* base background colour */
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1)) !important;
    /* base text colour */ 
    color: #bbbbbb !important; 
}

.theme-input {
    background-color:rgb(17 24 39 / var(--tw-bg-opacity, 1)) !important;
    border-color:#6b7280 !important;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.theme-input:focus {
    color: rgb(218, 218, 218);
}

.theme-input-alt:focus {
    color: rgb(218, 218, 218);
}

.theme-input-alt {
    background-color:#484848 !important;
    border-color:#091d23 !important;
	color: white;
}

/* themed dropdown select boxes */
.theme-dropdown { 
	background-color:rgb(17 24 39 / var(--tw-bg-opacity, 1)) !important;
	border-color:#6b7280 !important;
	margin:0px;
	color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.theme-dropdown:focus { 
	color: rgb(185, 185, 185 / var(--tw-text-opacity, 1));
}

.theme-dropdown-alt { 
	background-color:#484848 !important;
	border-color:#091d23 !important;
	color: white;
}

.theme-dropdown-alt:focus { 
	color: rgb(218, 218, 218);
}

/* themed dropdown select box options */
.theme-dropdown option { 
	color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

/* specified text colour (used to be .cw) */
.theme-textColor { 
	color: white !important;
}

/* inverse textColor */
.theme-inv-textColor { 
	color: black !important;
}

/* Profile page text colour */
.theme-profileTextColor { 
	color: #bbbbbb !important;
}

/* Table colouring */
.theme-table { 
	color: #fff;
    background-color: rgb(44 57 76);
}

/* Table header and footer colours */
.theme-tableOuter { 
	background-color:rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

/* Table blank cell for the stock locations */
.theme-table-blank { 
    background-color: rgb(25 33 44);
}

/* Table selected th cells */
.theme-th-selected { 
    background-color: rgb(25 33 44);
    border: 0px !important;
}

/* Was gold, now changes based on theme - same as url links */
.gold, a { 
	color: #e1b12c !important; 
}

/* clickable items */
.clickable { 
    cursor: pointer !important;
}
/* clickable items colours */
.clickable:hover { 
    background-color: #3e3e3e !important;
}

/* highlight items */
.highlight:hover { 
    background-color: #3e3e3e !important;
}

.footer, .show {
    background-color: #343a40;
    border-top: 1px solid #091d23;
    color: white;
}

/* selected page colour for paginatation */
.pageSelected { 
    color: #007FFF !important;
}

/* div background colours */
.theme-divBg { 
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1)) !important;
}

/* div background colours (darker) */
.theme-divBg-m { 
    background-color: rgb(43 55 74) !important;
}

/* special button look */
.theme-btn { 
    background-color: #696969 !important;
}

/* special serial button background look */
.serial-bg { 
    background-color: #696969 !important;
    color: #cfcfcf !important;
}

/*special colour - currently used for the view all in transactions and the min stock count */
.specialColor { 
    color: #007FFF !important;
}

/* transaction table text colours */
.transactionAdd {
    color: limegreen;
}
.transactionMove {
    color: orange;
}
.transactionRemove {
    color: red;
}
.transactionDelete {
    color: brown;
}