.skip-nav-link-inv {
    background: black;
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    transform: translateY(-110%);
    left: 45%;
    right: 45%;
    transition: transform 325ms ease-in;
    text-align: center;
    z-index: 10000;
}
.skip-nav-link-inv:focus {
    transform: translateY(0%);
}

.nav-head {
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
}


.header-small {
    padding-top: 30px;
    padding-bottom: 30px;
}

.last-edit {
    background-color: inherit;
    color: inherit;
    animation: flashAnimation 2s;
}

@keyframes flashAnimation {
    0% {
        background-color: grey;
        /* color: black; */
    }
    20% {
        background-color: grey;
        /* color: black; */
    }
    100% {
        background-color: transparent;
        /* color: #fff; */
    }
}

.last-edit-T {
    color: #fff;
    animation: flashAnimationTransparent 2s;
}

@keyframes flashAnimationTransparent {
    0% {
        background-color: rgb(75, 75, 75);
        /* color: black; */
    }
    20% {
        background-color: rgb(75, 75, 75);
        /* color: black; */
    }
    100% {
        background-color: transparent;
        /* color: #fff; */
    }
}

.title {
    border-bottom: 1px dashed #999; 
    text-decoration: none;
    cursor: help;
}


.cw {
    color: white !important;
}
.cw:focus {
    color: white;
}
.cw:focus:focus-within {
    color: black;
}

.inv-img-25h {
    max-width: 25px;
    max-height: 25px;
}
.inv-img-50h {
    max-width: 50px;
    max-height: 50px;
}
.inv-img-main {
    max-width: 125px;
    max-height: 75px;
}

.inv-nav {
    background-color: #72BE2A;
    z-index:0px;
    height:60px;
}
.inv-nav-secondary {
    background-color: #72BE2A;
    z-index:0px;
    height:60px;
}

.btn-stock {
    padding: 0px 3px 0px 3px;
    cursor: auto !important;
}
.btn-stock-click {
    padding: 0px 3px 0px 3px;
    cursor: pointer;
}
.btn-nav {
    border: 1px solid #091d23;
    width:110px ;
    opacity:90%;
}

.serial-bg {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0px 3px 0px 3px;
    margin-right:5px;
    background-color: #696969 !important;
    color: #cfcfcf !important;
}

.link {
    cursor: pointer !important;
}
.link:hover {
    text-decoration: underline !important;
}

.nav-row {
    width: 100%;
    padding:0px;
    margin:0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.nav-div {
    margin-top:auto;
    position: relative;
    margin-left: 25px;
    margin-right:25px;
    height: 100%;
    max-height:100%;
    vertical-align: middle !important;
}
.nav-v-c {
    vertical-align: middle !important;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav-v-b {
    vertical-align: middle !important;
    position: relative;
    bottom: 0%;
    /* -ms-transform: translateY(-100%);
    transform: translateY(-100%); */
}
.nav-right {
    margin-left:auto;
}
.nav-left{
    margin-right:auto;
}
.nav-trans {
    width: max-content;
    border: none;
    background-color: transparent !important;
}
.nav-div-mid {
    flex-grow: 1;
    text-align: center;
    /* position: relative;
    left: 50vw;
    -ms-transform: translateX(-50vw);
    transform: translateX(-50vw); */
}

.logo-div {
    margin-left: 5px;
    min-width: max-content;
    cursor: pointer !important;
    transition: all .1s ease-in-out;
}

.logo-div:hover {
     
    transform: scale(1.1);
    /* background-color: blue !important; */
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}


.logo {
    max-width: 50px;
    margin: 5px;
}

.thumb {
    /* border-radius: 5px; */
    cursor: pointer;
    transition: 0.3s;
}

.thumb:hover {
    opacity: 0.7;
}

.bg-trans {
    background-color: transparent !important;
}



/* colour picker */
.tag-color {
    font-family: sans-serif;
    width: 105px;
    display: block;
    position: relative;
    margin:0px;
}
.input-color {
    font-family: 'JetBrains Mono', monospace !important;
    padding: 5px 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding-left:10px;
    padding-right:10px;
    border: 0;
    height: 40px;
}
input[type=color]:after {
    content: attr(data-value);
    position: absolute;
    bottom: 10px;
    text-align: left;
    color: #fffff5;
    display: block;
    width: 100%;
}
.color-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #666;
}

select[disabled] {
    color: #a0a0a0;
    background-color: #585858f5;
    cursor: not-allowed;
  }

/* MODAL CSS FROM W3SCHOOLS */ 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    scale:1;
    margin: auto;
    display: block;
    min-width: 400px;
    width: max-content;
    max-width: 1000px
}
/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0px;
    height: 150px;
}
/* Add Animation */
.modal-content, .modal-caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 90vw Image Width on Smaller Screens */
@media only screen and (max-width: 1100px){
    .modal-content {
        width: 90vw;
    }
}
/* MODAL FINISH */





.fafont {
    font-family: 'FontAwesome', sans-serif;
}



.stockTD {
    padding: 5px 10px 5px 10px !important;
    vertical-align: middle !important;
}
.stockTD-input {
    padding: 0px 6px 0px 6px !important;
    height: 25px;
}

.footer {
    background-color: #343a40;
    color: white;
    font-size: 14px;
    border-top: 1px solid #091d23;
    position: fixed;
    bottom: 0; /* Stick the footer to the bottom of the viewport */
    width: 100%;
    padding: 5px;
}

.content {
    padding-bottom: 50px;
}







/* default dark theme styles in case someone deletes the dark theme css file */

body {
    background-color: #091d23 !important; /* base background colour */
    color: #bbbbbb !important; /* base text colour */
}

.theme-dropdown { /* themed dropdown select boxes */
	background-color:#484848 !important;
	border-color:black !important;
	margin:0px;
	padding-left:0 !important;
	color: white !important;
}

.theme-dropdown option { /* themed dropdown select box options */
	color: white !important;
}

.theme-textColor { /* specified text colour (used to be cw) */
	color: white !important;
}

.theme-profileTextColor { /* Profile page text colour */
	color: #bbbbbb !important;
}

.theme-table { /* Table colouring */
	color: #fff;
    background-color: #343a40;
}

.theme-tableOuter { /* Table header and footer colours */
	background-color:#21272b
}

.theme-table-blank { /* Table blank cell for the stock locations */
    background-color:#21272b;
}

.theme-th-selected { /* Table selected th cells */
    background-color: #1b1e22;
    border: 0px !important;
}

.gold, a { /* was gold, now changes based on theme - same as url links */
	color: #e1b12c !important; 
}

.clickable { /* clickable items */
    cursor: pointer !important;
}
.clickable:hover { /* clickable items colours */
    background-color: #3e3e3e !important;
}

.btn-clickable { /* clickable items */
    cursor: pointer !important;
}
.btn-clickable:hover { /* clickable items colours */
    background-color: #3e3e3e !important;
    color: white;
}



.footer, .show{
    background-color: #343a40;
    color: white;
    font-size: 14px;
    border-top: 1px solid #091d23;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.pageSelected { /* selected page for paginatation */
    color: #007FFF !important;
}

.theme-divBg { /* div background colours */
    background-color: #303335 !important;
}

.theme-divBg-m { /* div background colours (darker) */
    background-color: #434749 !important;
}


.theme-btn { /* special button look */
    background-color: #696969 !important;
}

.serial-bg { /* special serial button background look */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0px 3px 0px 3px;
    margin-right: 5px;
    background-color: #696969 !important;
    color: #cfcfcf !important;
}

.specialColor { /*special colour - currently used for the view all in transactions and the min stock count */
    color: #007FFF !important;
}


.transactionAdd {
    color: limegreen;
}
.transactionMove {
    color: orange;
}
.transactionRemove {
    color: red;
}
.transactionDelete {
    color: brown;
}

/* end of default theme */



.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-menu {
    cursor: pointer;
    display: block;
}

.nav-menu {
    cursor: pointer;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #333;
    padding: 15px;
    right: -25px;
    min-width: max-content;
}

.nav-links.show {
    display: flex;
    z-index: 1000;
    min-width:max-content;
    min-height:max-content;
}

.nav-menu {
    display: block;
}




/* Mobile format stuff */

.burger-links {
    list-style: none;
    display: flex;
}

.burger-links a {
    text-decoration: none;
    color: white;
}

.burger-menu {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.burger-menu {
    cursor: pointer;
}

.viewport-large {
    display: flex;
}

.viewport-large-block {
    display: block;
}

.viewport-large-empty {
    display: revert;
}

.viewport-mid-large {
    display: revert;
}

.viewport-small, .viewport-small-block, .viewport-small-empty, .viewport-small-only, .viewport-small-only-block, .viewport-small-only-empty {
    display: none;
}

.index-dropdown {
    margin-right:30px;
}

#clear-filters {
    padding:6px 6px 6px 6px;
}

#clear-filters i {
    height:24px;
}
.zeroStockFont, .zeroStockFont p, .zeroStockFont i  {
    font-size:12px !important;
}
.profile-table-row {
    margin-top:20px;
}
.profile-table-row2 {
    margin-top:30px;
}

th.btn-cableStock {
    width:50px
}

button.btn-cableStock {
    padding: 6px 12px 6px 12px !important;
}

div.stock-imageMainSolo {
    width:315px; 
    height:235px;
}
img.stock-imageMainSolo {
    max-width:315px; 
    max-height:235px ;
}
div.stock-imageMain {
    width:235px; 
    height:235px;
}
img.stock-imageMain {
    max-width:235px; 
    max-height:235px ;
}
div.stock-imageOther {
    width:75px;
    height:75px;
}
img.stock-imageOther {
    max-width:75px;
    max-height:75px;
}
.stock-imageBox {
    margin:20 20 20 auto !important;
    padding:0px !important;
    width:max-content !important;
}
#stock-info-right {
    margin-left:70px !important;
}
.stock-heading {
    padding-bottom:25px;
}
.stock-modifyBtn {
    width:110px;
}
.modal-imgWidth {
    max-width:50vw !important; 
}
.stock-inputSize {
    min-width: 150px;
    width: 300px !important;
}
.stock-inputLabelSize {
    width: 15vw;
    margin-right:25px;
    min-width: 70px;
    max-width: 200px;
}

#scrollTop {
    display: block;
    position: fixed;
    bottom: 35px;
    right: -100px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.scrollBtn {
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    position: inline-block;
    width: 38px;
    height: 38px;
    transition: width 0.2s ease; /* Apply smooth width and position transitions */
    overflow: hidden;
}

.scrollIcon {
    padding: 10px 0px 10px 0px;
}

.scrollBtn:hover {
    width: 180px;
}
.scrollBtn span {
    height:25px
} 

.fixTableHead { 
    overflow-y: auto; 
    height: 110px; 
} 
.fixTableHead thead th { 
    position: sticky; 
    top: 0; 
} 
table { 
    border-collapse: collapse;         
} 






/* Media query for mobile devices */
@media only screen and (max-width: 1200px) {
    .nav-links {
        list-style: none;
        display: none;
    }
    
    .nav-links a {
        text-decoration: none;
        color: white;
    }
    
    .nav-menu {
        font-size: 1.5em;
        cursor: pointer;
        display: none;
    }
    
    .nav-menu {
        cursor: pointer;
    }

    .burger-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 15px;
        left:-50px;
        min-width: max-content;
    }

    .burger-links.show {
        display: flex;
        z-index: 1000;
        min-width:max-content;
        min-height:max-content;
    }

    .burger-menu {
        display: block;
    }

    .viewport-large, .viewport-large-block, .viewport-large-empty {
        display: none;
    }

    .viewport-small {
        display: flex;
    }

    .viewport-small-block {
        display: block;
    }

    .viewport-small-empty {
        display: revert;
    }

    .index-dropdown {
        margin-right: 15px;
    }

    table {
        font-size: 12px;
    }
    table tbody {
        white-space: wrap !important;
    }
    table td, table th {
        padding:5px !important;
    }

    table span, #inv-page-numbers, label, select, option, input, textarea, .btn, p {
        font-size: 10px !important;
    }
    #clear-filters {
        padding: 3px 5px 4px 3px
    }
    #clear-filters i {
        height:20px;
        width:15px;
    }
    .zeroStockFont, .zeroStockFont p, .zeroStockFont i  {
        font-size:8.5px !important;
    }
    th.btn-cableStock {
        width:max-content;
    }
    button.btn-cableStock {
        padding: 5px 10px 5px 10px !important;
    }
    .profile-table-row {
        margin-top:5px;
    }
    .profile-table-row2 {
        margin-top:10px;
    }
    .invTablePagination {
        padding:0px !important;
    }


    .inv-img-main {
        max-width: 75px;
        max-height: 75px;
    }
    .inv-img-50h {
        max-width: 40px;
        max-height: 40px;
    }
    .row-dropdown {
        font-size: 8px !important;
        width:max-content !important;
        height:max-content !important;
    }
    .scale_1-15{
        scale:1.3;
    }
    div.stock-imageMainSolo {
        width:175px; 
        height:130px;
    }
    img.stock-imageMainSolo {
        max-width:175px; 
        max-height:130px ;
    }
    div.stock-imageMain {
        width:130px; 
        height:130px;
    }
    img.stock-imageMain {
        max-width:130px; 
        max-height:130px ;
    }
    div.stock-imageOther {
        width:40px;
        height:40px;
    }
    img.stock-imageOther {
        max-width:40px;
        max-height:40px;
    }
    #stock-info-table, #stock-info-left p, #stock-info-left button, #stock-info-left a {
        font-size: 10px !important;
    }
    #stock-info-table th, #stock-info-table td {
        padding:1px 7px 0px 0px !important;
    }
    #stock-info-right {
        margin-left:0px !important;
    }
    .stock-modifyBtn {
        max-width:max-content;
    }
    .stock-heading {
        padding-bottom:10px;
    }
    .header-small {
        font-size: 26px;
        padding-top:15px;
        margin-bottom:0px !important;
        padding-bottom:0px !important;
    }
    #stock-name {
        font-size: 18px !important;
        margin-top:10px !important;
    }
    .modal-imgWidth {
        max-width:50vw !important; 
    }
    .modal-content {
        min-width:0px !important;
    }
    .stock-inputSize {
        min-width: 150px;
        width: 15vw !important; 
    }
    .stock-inputLabelSize {
        width: 15vw;
        margin-right:25px;
        min-width: 70px;
    }
    .btn-move {
        padding: 2px 5px 2px 5px;
    }

}
@media only screen and (max-width: 600px) {
    /* #scrollTop {
        bottom: 35px;
        right: -100px;
        font-size: 9px;
    }
    .scrollBtn {
        width:19px;
        height:19px;
        font-size:9px;
        padding: 0px 0px 0px 2px;
    }
    .scrollIcon {
        padding: 5px 0px 5px 0px;
    }
    .scrollBtn:hover {
        width: 90px;
    }
    .scrollBtn span {
        height:12px
    }  */
    .nav-links {
        list-style: none;
        display: none;
    }
    
    .nav-links a {
        text-decoration: none;
        color: white;
    }
    
    .nav-menu {
        font-size: 1.5em;
        cursor: pointer;
        display: none;
    }
    
    .nav-menu {
        cursor: pointer;
    }

    .burger-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 15px;
        left:-50px;
        min-width: max-content;
    }

    .burger-links.show {
        display: flex;
        z-index: 1000;
        min-width:max-content;
        min-height:max-content;
    }

    .burger-menu {
        display: block;
    }

    .viewport-large, .viewport-large-block, .viewport-large-empty, .viewport-mid-large {
        display: none;
    }

    .viewport-small, .viewport-small-only {
        display: flex;
    }

    .viewport-small-block {
        display: block;
    }

    .viewport-small-only-block {
        display: block;
    }

    .viewport-small-only-empty {
        display: revert;
    }

    .viewport-small-empty {
        display: revert;
    }

    .index-dropdown {
        margin-right: 15px;
    }

    table {
        font-size: 10px;
    }
    table tbody {
        white-space: wrap !important;
    }
    table td, table th {
        padding:5px !important;
    }
    #stock-info-table th, #stock-info-table td {
        padding:1px 7px 0px 0px !important;
    }

    table span, #inv-page-numbers, label, select, option, input, textarea, .btn, p {
        font-size: 10px !important;
    }
    #clear-filters {
        padding: 3px 5px 4px 3px
    }
    #clear-filters i {
        height:20px;
        width:15px;
    }
    .zeroStockFont, .zeroStockFont p, .zeroStockFont i  {
        font-size:8.5px !important;
    }
    th.btn-cableStock {
        width:max-content;
    }
    button.btn-cableStock {
        padding: 5px 10px 5px 10px !important;
    }
    .profile-table-row {
        margin-top:5px;
    }
    .profile-table-row2 {
        margin-top:10px;
    }
    .invTablePagination {
        padding:0px !important;
    }


    .inv-img-main {
        max-width: 50px;
        max-height: 40px;
    }
    .inv-img-50h {
        max-width: 40px;
        max-height: 40px;
    }
    .row-dropdown {
        font-size: 8px !important;
        width:max-content !important;
        height:max-content !important;
    }
    .scale_1-15 {
        scale:1.15;
    }
    div.stock-imageMainSolo {
        width:175px; 
        height:130px;
    }
    img.stock-imageMainSolo {
        max-width:175px; 
        max-height:130px ;
    }
    div.stock-imageMain {
        width:130px; 
        height:130px;
    }
    img.stock-imageMain {
        max-width:130px; 
        max-height:130px ;
    }
    div.stock-imageOther {
        width:40px;
        height:40px;
    }
    img.stock-imageOther {
        max-width:40px;
        max-height:40px;
    }
    #stock-info-table, #stock-info-left p, #stock-info-left button, #stock-info-left a {
        font-size: 10px !important;
    }
    #stock-info-table th, #stock-info-table td {
        padding:1px 7px 0px 0px !important;
    }
    #stock-info-right {
        margin-left:0px !important;
    }
    .stock-modifyBtn {
        max-width:max-content;
    }
    .stock-heading {
        padding-bottom:10px;
    }
    .header-small {
        font-size: 26px;
        padding-top:15px;
        margin-bottom:0px !important;
        padding-bottom:0px !important;
    }
    #stock-name {
        font-size: 18px !important;
        margin-top:10px !important;
    }
    .modal-imgWidth {
        max-width:50vw !important; 
    }
    .modal-content {
        min-width:0px !important;
    }
}

/* Mobile format stuff end */







