/*mobile specific*/
h2 {
    font-size: 22px;
}

p {
  font-size: 18px;
}

body {
    background-color: #091d23;
    color: #bbbbbb;
    font-family: 'Poppins', sans-serif;

    display: block;
    position: relative;
    /*margin: 8px;*/
}
a {
    text-decoration: none!important;
    color: #e1b12c !important;
}

h1 {
    font-family: 'Oleo Script', cursive !important;
}

pre {
    /* font-family: source_code_proregular; */
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: "Source Code Pro", "DejaVu Sans Mono", Menlo, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    /* font-family: bitstream_vera_sans_monoroman; */
    /*font-size: 76%;*/

    display: block;
    /*font-family: monospace;*/
    line-height: 1;
    white-space: pre;
    margin: 1em 0px;
    color: white;
    overflow: hidden; /* Hide scrollbars */
}

.header {
    margin-top: 140px;
    margin-bottom: 40px;
}
.header-big {
    margin-top: 40px;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 75px;
    margin-bottom: 0px;
}

.link-block {
    padding: 20px;
    text-align: center;
}

.link-title {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.row-marge-top {
    padding-top:20px;
}
.link-button { 
     background: none;
     border: none;
     color: #383838;
     color: #e1b12c;
     text-decoration: none !important;
     cursor: pointer; 
}
.center-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
}
.gold {
	color: #e1b12c;
}
.red {
	color: red;
}
.green {
	color: #44bd32 !important;
}

.white {
  color: white !important;
}

.white or {
  color: #44bd32 !important;
}

.fffcolor {
	color: #fff !important;
}

.blue {
	color: #007FFF !important;
}

.orangebrown {
	color: #6e500b !important;
}

.orangebrownlight {
	color: #91690e !important;
}

.invisible {
	visibility: hidden !important;
}

.unavailable {
	opacity: 0.2 !important;
}

iframe {
  display: none;
}

iframe.inUse {
    display: block;
}

.table-white {
    
    color: white !important;
}
.centertable {
  margin-left: auto;
  margin-right: auto;
}
.hidetext { 
    -webkit-text-security: disc; /* Default */ 
}


@media only screen and (max-width: 1200px) {
  pre {
    font-size: 75% !important;
    }
}
@media only screen and (max-width: 1000px) {
  pre {
    font-size: 55% !important;
    }
}
@media only screen and (max-width: 800px) {
  pre {
    font-size: 35% !important;
    }
}
@media only screen and (max-width: 600px) {
  pre {
    font-size: 25% !important;
    }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 400% !important;
    }
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 300% !important;
    }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 250% !important;
    }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 200% !important;
    }
}

@media only screen and (max-width: 800px) {
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
    }
  .link-block {
    margin-top: 20px;
    }
  .row-marge-top {
    padding-top:0px;
    }
}
@media only screen and (max-width: 480px) {
  .header h1 {
    font-size: 70px;
    }
}
@media only screen and (max-width: 470px) {
  .header h1 {
    font-size: 65px;
    }
}
@media only screen and (max-width: 460px) {
  .header h1 {
    font-size: 60px;
    }
}
@media only screen and (max-width: 450px) {
  .header h1 {
    font-size: 55px;
    }
}
@media only screen and (max-width: 440px) {
  .header h1 {
    font-size: 50px;
    }
}

::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}
:-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-width: 0px 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-image: initial;
    border-radius: 9px / 4px;
    box-shadow: rgb(123 135 147) 0px 0px 0px 1px inset, rgb(63 77 90) 0px 0px 0px 4px inset;
}
::-webkit-scrollbar-track-piece {
    margin: 4px 0px;
}

.f9 { color: #EEE8D5; }
.b9 { background-color: #073642; }
.f9 > .bold,.bold > .f9, body.f9 > pre > .bold {
  /* Bold is heavy black on white, or bright white
     depending on the default background */
  color: #FDF6E3;
  font-weight: normal;
}
.reverse {
  /* CSS does not support swapping fg and bg colours unfortunately,
     so just hardcode something that will look OK on all backgrounds. */
  color: #073642; background-color: #EEE8D5;
}
.underline { text-decoration: underline; }
.line-through { text-decoration: line-through; }
.blink { text-decoration: blink; }

/* Avoid pixels between adjacent span elements.
   Note this only works for lines less than 80 chars
   where we close span elements on the same line.
span { display: inline-block; }
*/

.entrybox2 {
    border: 1px solid gray !important;
    background-color: #454c52 !important;
    color: white !important;
}

.btn-dark {
    background-color: #696969 !important;
}

::placeholder { 
  color: #d1cfcf !important;
}

.bg-dark {
    background-color: #303335 !important;
}

.well-nopad {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.hidden {
  height:0 !important;
  position:absolute !important;
  z-index: -1 !important;
  opacity: 0.01 !important;
}

/* SLIDERS */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e1b12c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e1b12c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The slider red */
.sliderRed {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderRed:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderRed {
  background-color: red;
}

input:focus + .sliderRed {
  box-shadow: 0 0 1px red;
}

input:checked + .sliderRed:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderRed.round {
  border-radius: 34px;
}

.sliderRed.round:before {
  border-radius: 50%;
}

/* The slider green */
.sliderGreen {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderGreen:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderGreen {
  background-color: #44bd32;
}

input:focus + .sliderGreen {
  box-shadow: 0 0 1px #44bd32;
}

input:checked + .sliderGreen:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderGreen.round {
  border-radius: 34px;
}

.sliderGreen.round:before {
  border-radius: 50%;
}

.loader { 
  width:500px; 
  margin:0 auto;
  border-radius:10px;
  border:4px solid transparent;
  position:relative;
  padding:1px;
}
.loader:before {
  content:'';
  border:1px solid #fff; 
  border-radius:10px;
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}
.loader .loaderBar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:#fff; 
  width:0;
  animation:borealisBar 1.5s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}

/* Skip to main content */
.skip-nav-link {
  background: black;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  transform: translateY(-450%);
  left: 0.5rem;
  transition: transform 325ms ease-in;
}
.skip-nav-link:focus {
  transform: translateY(-350%);
}
.skip-nav-link-100 {
  background: black;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  transform: translateY(-350%);
  left: 0.5rem;
  transition: transform 325ms ease-in;
}
.skip-nav-link-100:focus {
  transform: translateY(-250%);
}

.heading-color {
  color: #fff;
}

.clickable {
  cursor: pointer !important;
}
.clickable:hover {
  background-color: #3e3e3e !important;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.outputTD {
  vertical-align: middle !important;
  text-align: center !important;
}

.outputTD-toggle {
  vertical-align: middle !important;
  text-align: center !important;
  padding:7px !important;
}

.divider {
  border-top: 1px solid rgb(184, 184, 184);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#topBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e1b12c;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: red;
}


.viewTranslate {
  transition: .5s;
  margin-right: 120px !important;
}

.hideTranslate {
  transition: .3s;
  margin-right: 0px !important;
}

.copyIcon {
  border-right: 1px solid #454d55; 
  padding-left:0px !important; 
  padding-right:5px !important;
  margin:0px !important;
}

input:invalid {
  border: 2px solid red;
}

input:focus-visible {
  outline: none;
}

.btn-activepage {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.tdLP {
  padding-left:5px;
}
.tdRP {
  padding-right:15px;
}
.uni {
  font-family: 'JetBrains Mono', monospace !important;
}
:target {
  background-color: rgb(43, 43, 2);
}
