body {
    background-color: #091d23 !important; /* base background colour */
    color: #bbbbbb !important; /* base text colour */
}

.theme-dropdown { /* themed dropdown select boxes */
	background-color:#484848 !important;
	border-color:black !important;
	margin:0 !important;
	padding-left:0 !important;
	color: white !important;
}

.theme-dropdown option { /* themed dropdown select box options */
	color: white !important;
}

.theme-textColor { /* specified text colour (used to be cw) */
	color: white !important;
}

.theme-profileTextColor { /* Profile page text colour */
	color: #bbbbbb !important;
}

.theme-table { /* Table colouring */
	color: #fff;
    background-color: #343a40;
}

.theme-tableOuter { /* Table header and footer colours */
	background-color:#21272b
}

.theme-table-blank { /* Table blank cell for the stock locations */
    background-color:#21272b;
}

.theme-th-selected { /* Table selected th cells */
    background-color: #1b1e22;
    border: 0px !important;
}

.gold, a { /* was gold, now changes based on theme - same as url links */
	color: #e1b12c !important; 
}

.clickable { /* clickable items */
    cursor: pointer !important;
}
.clickable:hover { /* clickable items colours */
    background-color: #3e3e3e !important;
}



.footer {
    background-color: #343a40;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.pageSelected { /* selected page for paginatation */
    color: #007FFF !important;
}

.theme-divBg { /* div background colours */
    background-color: #303335 !important;
}

.theme-divBg-m { /* div background colours (darker) */
    background-color: #434749 !important;
}


.theme-btn { /* special button look */
    background-color: #696969 !important;
}

.serial-bg { /* special serial button background look */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0px 3px 0px 3px;
    margin-right: 5px;
    background-color: #696969 !important;
    color: #cfcfcf !important;
}

.specialColor { /*special colour - currently used for the view all in transactions and the min stock count */
    color: #007FFF !important;
}


.transactionAdd {
    color: limegreen;
}
.transactionMove {
    color: orange;
}
.transactionRemove {
    color: red;
}
.transactionDelete {
    color: brown;
}