body {
    /* base background colour */
	background-color: #d2f1f0 !important; 
    /* base text colour */
	color: #000000 !important; 
}

/* themed dropdown select boxes */
.theme-dropdown { 
	background-color:#aaa9a9 !important;
	border-color:#505050 !important;
	margin:0;
	padding-left:0;
	color: black !important;
}

/* themed dropdown select box options */
.theme-dropdown option { 
	color: black !important;
}

/* specified text colour (used to be .cw) */
.theme-textColor { 
	color: black !important;
}

/* Profile page text colour */
.theme-profileTextColor { 
	color: black !important;
}

/* Table colouring */
.theme-table { 
	background-color: rgb(186 212 223);
	color: black;
}

/* Table header and footer colours */
.theme-tableOuter { 
	background-color:#8ed5df;
}

/* Table blank cell for the stock locations */
.theme-table-blank { 
    background-color:#77b4be;
}

/* Table selected th cells */
.theme-th-selected { 
    background-color: #5f8c97;
    border: 0px !important;
}

/* Was gold, now changes based on theme - same as url links */
.gold, a { 
	color: blue !important;
}

/* clickable items */
.clickable { 
    cursor: pointer !important;
}
/* clickable items colours */
.clickable:hover { 
    background-color: #8fd0fc !important;
}

.footer, .show {
    background-color: #6be3e3;
    color: black;
}

/* selected page for paginatation */
.pageSelected { 
    color: black !important;
}

/* div background colours */
.theme-divBg { 
    background-color: #7eeded4d !important;
}

/* div background colours (darker) */
.theme-divBg-m { 
    background-color: #6be3e3 !important;
}

/* special button look */
.theme-btn { 
    background-color: #a6a3a38f !important;
}

/* special serial button background look */
.serial-bg { 
    background-color: #a6a3a38f !important;
    color: #1f1f1f !important;
}

/*special colour - currently used for the view all in transactions and the min stock count */ 
.specialColor { 
    color: #889200 !important; 
}

/* transaction table text colours */
.transactionAdd {
    color: #3bb300;
}
.transactionMove {
    color: #c58d25;
}
.transactionRemove {
    color: #bf0000;     
}
.transactionDelete {
    color: brown;
}